
  <link rel="stylesheet" type="text/css" href="/CSS/sideBar.css">

      <div class="sidebar">
        <div class="profile">
          <% if (isKycVerified) { %>
            <img src="<%= user.kyc.userImage %>" alt="Profile Picture">
            <h4><%= user.kyc.full_name %></h4>
            <p><i class="fas fa-check-circle verified"></i> Verified</p>
            <% } else { %>
            <img src="/images/profilejpg.jpg" alt="Profile Picture">
            <h4><%= user.name %></h4>
            <p><i class=" fas fa-regular fa-circle-xmark"></i>Not Verified.</p>
        </div>
        <% } %>
        <div class="mt-5 md-5 px-3">
          <a href="/profile" class="sidebar-link rounded-pill"><i class=" fas fa-info"></i></i><span>My Information</span></a>
          <a href="/myCarList/<%=user.id%>" class="sidebar-link rounded-pill"><i class="fas fa-car"></i> <span>My Vehicles</span></a>
          <a href="/userRequestDocs/<%=user.id%>" class="sidebar-link rounded-pill"><i class="fas fa-file-alt"></i> <span>Request for Docs</span></a>
          <a href="#" class="sidebar-link rounded-pill"><i class="fas fa-file-alt "></i> <span>Mechanic Evaluation </span></a>
        </div>
      </div>
 
      <script>
        document.addEventListener("DOMContentLoaded", function () {
            var links = document.querySelectorAll('.sidebar-link');
            links.forEach(function (link) {
                link.addEventListener('click', function (event) {
                    links.forEach(function (l) {
                        l.classList.remove('active');
                    });
                    link.classList.add('active');
                });
                // Check if the link href matches the current page URL
                if (window.location.pathname === link.getAttribute('href')) {
                    link.classList.add('active');
                }
            });
        });
    </script>
    
