<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/headerIndex.ejs') %>
</head>


<body>

    <%- include('../partials/navbarIndex.ejs') %>
    <%- include('../partials/sidebarUser.ejs') %>
    <!-- Main Container -->
    <div class="container-fluid">
        <main id="main" class="main">
        <div class="row justify-content-center">
            <%- include('../partials/noty') %>
            <div class="col-md-12 mt-3 mb-5 border">
                <h1>My cars</h1>
                <div class="row mt-3">
                    <% myCars.forEach(myCar => { %>
                    <div class="col-md-4 mb-3 mt-2">
                        <div class="card card-hover shadow border"
                            style="width: 18rem;">
                            <img class="card-img-top"
                                src="<%= myCar.carImages %>"
                                alt="Card image cap" style="height: 200px;">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= myCar.brand %>
                                </h5>
                                <!-- Display car province below brand -->
                                <%= myCar.registration_state %>
                                <i
                                    class="fas fa-sharp fa-thin fa-location-dot px-2"></i>
                                <div class="d-flex justify-content-center align-items-center p-2  mb-1 mt-1 border w-5"
                                    style="border-radius: 20px;">
                                    <i
                                        class="fas fa-check-circle text-success"></i>
                                    <span class="ms-2">Certified</span>
                                </div>
                                <!-- Display price for car below brand -->
                                <p>Price:
                                    <%= myCar.price %>
                                </p>

                                <a href="/makeRequestInspectionForm/<%= myCar.id %>"
                                    class="btn btn-outline-success">Request
                                    Inspection</a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                </div>
            </div>
        </div>
        </main>
    </div>
    <%- include('../partials/scripts.ejs') %>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const cards = document.querySelectorAll(".card-hover");

            cards.forEach(card => {
                card.addEventListener("mouseenter", function() {
                    this.style.transform =
                    "scale(1.05)";
                    this.style.transition =
                        "transform 0.3s ease";
                    this.style.boxShadow =
                        "0 0 20px rgba(0, 0, 0, 0.2)";
                });

                card.addEventListener("mouseleave", function() {
                    this.style.transform = "scale(1)";
                    this.style.transition =
                        "transform 0.3s ease";
                    this.style.boxShadow = "none";
                });
            });
        });
    </script>
</body>


</html>