<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header.ejs') %>
</head>


<body>
    <%- include('../partials/navbar.ejs') %>
    <div
        class="container d-flex justify-content-center align-items-center mt-5 border shadow rounded">

        <div class="col-md-8 mb-1 mt-3  border ">

            <div class="d-flex justify-content-between align-items-start mt-2">
                <!-- Personal Details -->
            </div>

            <!-- Profile Information -->
            <div class="d-flex justify-content-start  mt-3 mb-3">
                <!-- Profile Image -->
                <div class="d-flex flex-column align-items-center">
                    <img src="/images/profilejpg.jpg" alt="Profile Image"
                        class="rounded-circle"
                        style="width: 200px; height: 200px;">
                    <div
                        class="d-flex justify-content-center align-items-center p-2 rounded-lg mb-1 mt-1 border ">
                        <i class="fas fa-check-circle text-success"></i>
                        <span class="ms-2">Verified</span>
                    </div>
                </div>
                <!-- Personal Information -->
                <div class="mx-5 mt-3">
                    <!-- Personal Information -->
                    <p><span class="font-weight-bold">Personal
                            Information:</span></p>
                    <div class="pl-3">
                        <p><span class=" p-1">Username: </span><strong>
                                <%= seller.full_name %>
                            </strong></p>
                        <p><span class=" p-1">Gender: </span>
                            <%= seller.gender %>
                        </p>
                        <p><span class=" p-1">Profession: </span>
                            <%= seller.profession %>
                        </p>
                        <p><span class=" p-1">Marital Status: </span>
                            <%= seller.marital_status %>
                        </p>
                        <p><span class=" p-1">Current Address: </span>
                            <%= seller.current_address %>
                        </p>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="#" class="btn btn-primary">Chat</a>
                          </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <%- include('../partials/scripts.ejs') %>
</body>


</html>