
<!DOCTYPE html>
<%- include('../partials/headerLogin',{css:css},{title:title}) %>
<body>
  
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="images/singup.png" alt="login" class="login-card-img" width="100%" >
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="images/bgGadiBazzar.png" alt="logo" class="logo" width="200px" height="400px">
              </div>
              <p class="login-card-description">Sign into your account</p>
              <form action="/singupUser" method="Post">
                  <div class="form-group">
                    <% if(validationErrors && validationErrors.name){%>
                      <small class="text-danger"><i class="fas fa-exclamation-circle px-2"></i><%= validationErrors.name.msg%></small>
                      <% } %>
                    <label for="fullName" class="sr-only">Full Name</label>
                    <input type="text" name="name" id="name" class="form-control" placeholder="Full Name">
                  </div>
                  <div class="form-group mb-4">
                    <% if(validationErrors && validationErrors.email){%>
                      <small class="text-danger"><i class="fas fa-exclamation-circle px-2"></i><%= validationErrors.email.msg%></small>
                      <% } %>
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                  </div>
                  <% if(validationErrors && validationErrors.gender){%>
                    <small class="text-danger"><i class="fas fa-exclamation-circle px-2"></i><%= validationErrors.gender.msg%></small>
                    <% } %>
                  <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="gender" id="male" value="male">
                  <label class="form-check-label" for="inlineRadio1">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                  
                  <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                  <label class="form-check-label" for="inlineRadio2">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    
                  <input class="form-check-input" type="radio" name="gender" id="other" value="other" >
                  <label class="form-check-label" for="inlineRadio3">Other</label>
                  </div>
                  <div class="form-group mb-4 mt-4">
                    <% if(validationErrors && validationErrors.password){%>
                      <small class="text-danger"><i class="fas fa-exclamation-circle px-2"></i><%= validationErrors.password.msg%></small><br>
                      <% } %>
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                          </div>
                  <div class="form-check">
                   
                  <input class="form-check-input" type="checkbox" value="agree" id="agree" required>
                  <label class="form-check-label" for="defaultCheck1">
                  Agree all the Terms & Conditions
                  </label>
                  </div>
                    <button type="submit" class="btn btn-block login-btn mb-4 mt-4">Sign-up</button>
                </form>
                <p class="login-card-footer-text">Already have an account? <a href="/login" class="text-reset">Login</a></p>
                <nav class="login-card-footer-nav">
                  <a href="#!">Terms of use.</a>
                  <a href="#!">Privacy policy</a>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%-include('../partials/scripts.ejs') %>
</body>
</html>


