<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZwTl" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
</head>

<body>

 
      <!-- Sidebar -->


     <!-- Main Content -->
<!-- Main Content -->

<div class="col-md-8 mb-1 mt-3  border">
 
    <div class="d-flex justify-content-between align-items-start">
      <!-- Personal Details -->
      <div>
        <h4 class="font-weight-bold">Personal Details</h4>
      </div>
      <!-- KYC Button -->
     
    </div>
    
    <!-- Profile Information -->
    <div class="d-flex justify-content-start  mt-3">
      <!-- Profile Image -->
      <div class="mx-4">
        <img src="<%=kyc.userImage%>" alt="Profile Image" class="rounded-circle" style="width: 200px; height: 200px;">
      </div>
      <!-- Personal Information -->
      <div class="mx-5 mt-3">
        <!-- Personal Information -->
        <p><span class="font-weight-bold">Personal Information:</span></p>
        <div class="pl-3">
          <p><span class="bg-light p-1">Username: </span><strong><%=kyc.full_name%></strong></p>
          <p><span class="bg-light p-1">Date of Birth: </span><%=kyc.dob%></p>
          <p><span class="bg-light p-1">Gender: </span><%= kyc.gender%></p>
          <!-- Additional Information -->
          <p><strong><span>Additional Information:</span></strong></p>
          <div class="d-flex  ">
            <!-- Profession -->
            <div class="mr-4">
                <div>
                    <p><span >Profession:</span></p>
                    <p><span><%=kyc.profession%></span></p>
                </div>
            </div>
            <!-- PAN No -->
            <div class="mx-5">
                <div>
                    <p><span>Phone Number:</span></p>
                    <p><%=kyc.phone_number%></p>
                </div>
            </div>
            <!-- Marital Status -->
            <div class="mx-4">
                <div>
                    <p><span>Marital Status:</span></p>
                    <p><span><%=kyc.marital_status%></span></p>
                </div>
            </div>
        </div>
        </div>
      </div>

    </div>
    <!--Address Information-->
    <div class="mx-5 d-inline-flex">
    <p><span><strong> Address Information:</strong></span></p>
    <div class="d-flex  mx-5 mt-5">
      <!-- Profession -->
      <div class="mx-5">
          <div>
              <p><span >Current Address:</span></p>
              <p><span> <%=kyc.current_address%></span></p>
          </div>
      </div>
      <!-- PAN No -->
      <div class="mx-5">
          <div>
              <p><span>Permanent Address: </span></p>
              <p>456 Elm St, City, Country</p>
          </div>
      </div>
  </div>
  </div>
  <!-- Documents Images-->
  <div class="mx-5 d-inline-flex">
    <p><span><strong>Documents Information:</strong></span></p>
    <div class="d-flex mx-5 mt-5">
        <!-- Current Address -->
        <div class="mx-5">
            <div>
                <p>CitizenShip front:</p>
                <img src="/images/bgGadiBazzar.png" alt="Current Address Image" style="width: 150px; height: 150px;">
            </div>
        </div>
        <!-- Permanent Address -->
        <div class="mx-5">
            <div>
                <p>CitizenShip Back :</p>
                <img src="/images/singup.png" alt="Permanent Address Image" style="width: 150px; height: 150px;">
            </div>
        </div>
    </div>
</div>
<!-- documenst Details -->
<div class="mx-5 d-inline-flex">
  <p><span><strong>Documents Details</strong></span></p>
  <div class="d-flex  mx-5 mt-5">
  
    <div class="mx-4">
        <div>
            <p><span >Identity Type</span></p>
            <p><span> ***************</span></p>
        </div>
    </div>
   
    <div class="mx-4">
        <div>
            <p><span>Citizenship number </span></p>
            <p>##########</p>
        </div>
    </div>
    <div class="mx-4">
      <div>
          <p><span>Document issued </span></p>
          <p>###########</p>
      </div>
  </div>
  <div class="mx-4">
    <div>
        <p><span>Document issued address</span></p>
        <p>$$$$$$$$$$</p>
    </div>
</div>
</div>
</div>
<form action="/updateKycRequest/<%= kyc.id%>" method="post">
    <div>
      <button class="btn btn-primary">
        <i class="fas fa-check"></i> yes
      </button>
      
    </div>
    <!-- <div>
      
       <button class="btn btn-primary">
         <i class="fas fa-id-card"></i> Deny
       </button>
       
     </div> -->
  </form>
</div>



</body>
<!-- Scripts -->
<%- include('../partials/scripts.ejs') %>

</html>